# Servidor y Web
fastapi
uvicorn
flask
gunicorn

#validación y esquemas
pydantic

# Variables de entorno
python-dotenv

# Comunicación y API
requests

# Tareas automáticas (Scheduler)
flask-apscheduler

# Análisis de datos
pandas
openpyxl

# Tests y calidad
pytest
httpx

#Base de datos
sqlalchemy

##Seguridad
passlib[bcrypt]
python-jose[cryptography]
email-validator
mailtrap